body {
    font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
  }

  .carousel-inner img {
      width: 100%;
      height: 100%;
  }


  
  @media (min-width: 768px) {
      /* Adjust the height and width for larger screens */
      .carousel-inner img {
          width: 500px;
          height: 400px;
      }
  }

  .scrolling-container {
      display: flex;
      overflow-x: auto;
      padding: 20px;
      white-space: nowrap;
  }

  .card {
      flex: 0 0 auto;
      width: 300px;
      margin-right: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .card img {
      width: 100%;
      height: auto;
  }

  .card-body {
      padding: 15px;
  }


  .cta-container {
    text-align: center;
    margin: 20px;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #ffffff;
    color: black;
    text-decoration: none;
}

.trust-indicators-container {
    text-align: center;
    margin: 2rem auto;
    padding: 1rem;
    max-width: 800px;
}

.testimonial {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
}

.trust-badge {
    max-width: 100px;
    margin: 0 auto;
}


.social-proof-container {
    text-align: center;
    margin: 2rem auto;
    padding: 1rem;
    max-width: 800px;
}

.testimonial {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .social-icons svg {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    fill: #007bff; /* Change the color as needed */
    transition: fill 0.3s ease-in-out;
  }

  .social-icons svg:hover {
    fill: #0056b3; /* Change the hover color as needed */
    cursor: P;
  }


  
 




  .top-background {
    margin: 0;
background: url(images/bg-hero-mobile.svg), 
            rgb(235, 250, 253);
background-size: 100% 111%;
background-position: 25% 14%;
padding-bottom: 1.5em;

}

.headings {
  font-family: 'Poppins', sans-serif;
  color: hsl(192, 100%, 9%);
}

.top-heading {
  color: hsl(192, 100%, 9%);
  font-weight: 400;
}

.trial {
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.top {
  background-image: url(/images/bg-hero-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
}

.signup {
  border-radius: 25px;
  background-color: purple;
  color: white;
}

.article .section {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.community {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 80%;
  position: relative;
  z-index: 3;
  top: 30px;
  background: white;
  border-radius: 5px;
}

.bottom {
  background: hsl(192, 100%, 9%);
  color: white;
  position: relative;
  z-index: 1;
}

ul {
  list-style-type: none;
}


.social-links a{
  text-align: center;
  float: left;
  width: 36px;
  height: 36px;
  border: 1px solid white;
  border-radius: 100%;
  margin-right: 10px; /*space between*/
  color: white;

} 

.social-links a i{
  font-size: 20px;
  line-height: 35px;
  
}


.container {
    margin-top: 50px;
  }

  .rating-stars {
    color: #ffc107;
  }

  .contact-us {
    margin-top: 30px;
  }


   /* Add styles for the footer */
  